<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyTestingSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>16/11/07 13:35:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterIntoOUA.Register()[pri:0, instance:com.enhops.testscripts.RegisterIntoOUA@3e6fa38a]">Register</td> 
  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>16/11/07 13:35:47</td>   <td>30381</td> <td title="&lt;&lt;BaseTest.SuiteCleanup(org.testng.ITestContext)[pri:0, instance:com.enhops.testscripts.RegisterIntoOUA@3e6fa38a]">&lt;&lt;SuiteCleanup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>16/11/07 13:34:58</td>   <td>-18393</td> <td title="&gt;&gt;BaseTest.SuiteInit(org.testng.ITestContext)[pri:0, instance:com.enhops.testscripts.RegisterIntoOUA@3e6fa38a]">&gt;&gt;SuiteInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>16/11/07 13:35:47</td>   <td>30355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCleanup()[pri:0, instance:com.enhops.testscripts.RegisterIntoOUA@3e6fa38a]">&lt;&lt;testCleanup</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>16/11/07 13:35:17</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testInit(org.testng.ITestContext)[pri:0, instance:com.enhops.testscripts.RegisterIntoOUA@3e6fa38a]">&gt;&gt;testInit</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
</table>
